<h1>Welcome</h1>
<p>welcome</p>
<p>Please input Car's model and year</p>
<form action= "/cars/create" method="get">
  <lable for="make_field">Make</lable>
  <input type="text" name="make" id="make_id"/>
  <lable for="model_year_field">Year</lable>
  <input type="number" name="model_year" id="model_year"/>
  <input type="submit" value="Simulate Car"/>
</form>
