
<h1>Car Status</h1>

Maker of the Car: <%= @car.make %>
<hr/>
Model and Year: <%= @car.model_year %>
<hr/>
Initial Car Speed : <%= @car.speed %>
</hr>
<form action="/cars/accelerate" method="get">
  <input type="submit" value="Speed Car"/>
</form>
<br/>
<form action="/cars/brake" method="get">
  <input type="submit" value="Brake Car"/>
</form>
<hr/>
<form action="/cars/lights" method="get">
Lights Status: <%= @car.lights %>
  <input type="submit" value="Lights Car"/>
</form>
<br/>
<form action="/cars/parking" method="get">
  <input type="radio" value="brakeon"/>
  <input type="radio" value="brakeoff"/>
</form>
<hr/>
